.itemBackground{
    background-color: #ff111328;
    height: 130px;
    border-radius: 20px;
    color: white;
}

.gender{
    font-size: 60px;
}

.numberStyle {
    font-size: 32px;
    font-weight: 800;
    margin-top: -30px;
}
.cm{
    font-size: 16px;
    font-weight: 400;
    margin-left: -10px;
}

.form-range {
    padding: 0px 20px;
}

input[type=range]::-moz-range-thumb {
    background: #ff3366;
}

.sumLess{
    cursor: pointer;
    background-color: #ff4c4f58;
    padding: 7px;
    border-radius: 15px;
    margin-left: 3px;
}

.deactiveGender{
    background-color: #7d2f2f33;
}